<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%=htmlWebpackPlugin.options.title%></title>
  <script src="../utils/rem/adaptive.js"></script>
  <script>
    window['adaptive'].desinWidth = 640;
    window['adaptive'].baseFont = 24;
    window['adaptive'].maxWidth = 480;
    window['adaptive'].scaleType = 2;
    window['adaptive'].init();
  </script>
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js"></script>
  <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
  <script>
    if ('addEventListener' in document) {
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    }
  </script>
</head>
<body>
<div id="app"></div>
</body>
</html>